.slide{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    min-height: 30vh;
    font-family: 'Cabin Condensed', sans-serif;
    color: #4da1b4;
}

.slide2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.item > img{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    box-shadow: 0 0 50px black;  
    transition: 0s;  
    filter: grayscale(100%);
}

.item > img:hover{
    width: 10rem;
    height: 10rem;
    border-radius: 0%;
    transform: 0.7s;
    border-radius: 5px;
    transition-duration: 0.7s;
    filter: none;
}

.item{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container{
    border-top: 3px solid rgba(28,110,164,0.42);
    border-radius: 20px 20px 0px 0px;
}

@media only screen and (max-width: 376px) {
    .item > img{
        width: 6rem;
        height: 6rem;
    }
    
    .item > img:hover{
        width: 6rem;
        height: 6rem;

    }

}

@media only screen and (min-width: 375px) {
    .item > img{
        width: 7rem;
        height: 7rem;
    }
    
    .item > img:hover{
        width: 7rem;
        height: 7rem;

    }

}

@media only screen and (min-width: 768px) {
    .item > img{
        width: 10rem;
        height: 10rem;
    }
    
    .item > img:hover{
        width: 10rem;
        height: 10rem;

    }

}



