*{
    font-family: 'Cabin Condensed', sans-serif;
}

.container-city {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 70%;
    width: 100%;
}

.container-card-details {
    min-height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0 20px 0;
}

.container-card-details h2{
    font-weight: bolder;
    color: #73B1BF;
}

.card {
    margin: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 60%;
}

.card-header img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 5px 20px 20px 20px;
    min-height: 250px;
    width: 100%;
    
}

.card-body>h3 {
    text-align: center;
    margin-bottom: 8px;
    background-color: #73B1BF;
    width: 100%;
    padding: 2px;
    color: white;
}

.tag {
    background: #cccccc;
    border-radius: 50px;
    font-size: 12px;
    margin: 0;
    color: #fff;
    padding: 2px 10px;
    text-transform: uppercase;
    cursor: pointer;
}

.tag-teal {
    background-color: #47bcd4;
}

.tag-purple {
    background-color: #5e76bf;
}

.tag-pink {
    background-color: #cd5b9f;
}

.card-body p {
    font-size: 13px;
    margin: 0 0 15px;
    width: 100%;
}

.user {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.user img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.user-info h5 {
    margin: 0;
}

.user-info small {
    color: #545d7a;
}

.go-cities a{
    text-decoration:none;
    color: #545d7a;
    font-style: italic;
}

.go-cities a:hover{
    color:#73B1BF;
}

.btn-new-itinerary {
	background-color:#73B1BF;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:10px 25px;
	text-decoration:none;
    margin-top: 25px;
}

.btn-new-itinerary:hover {
    filter: grayscale(70%);
}

@media only screen and (max-width: 768px) {

    .card {
        width: 95%;
    }
}