.container-cities {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
}

.img-card {
    height: 100px;
    width: 10px;
    object-fit: cover;
}

.city-card-btn {
    text-decoration: none;
    color: white;
}

figcaption {
    display: flex;
    flex-wrap: wrap;
}

figure.snip0056 {
    font-family: 'Raleway', Arial, sans-serif;
    position: relative;
    overflow: hidden;
    margin: 10px;
    min-width: 480px;
    max-width: 480px;
    width: 100%;
    background: #ffffff;
    color: #000000;
    border-radius: 10px;
}

.position:hover {
    filter: grayscale(70%);
}

figure.snip0056 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

figure.snip0056>img {
    width: 25%;
    border-radius: 50% 50% 0% 20%;
    border: 4px solid #ffffff;
    -webkit-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
    -webkit-transform: scale(1.6);
    transform: scale(1.6);
    position: relative;
    float: right;
    right: -4%;
    z-index: 1;
}

figure.snip0056 figcaption {
    padding: 0.5rem;
    position: absolute;
    left: 0;
    width: 70%;
}

figure.snip0056 figcaption h2,
figure.snip0056 figcaption p {
    margin: 0;
    text-align: left;
    padding: 10px 0;
    width: 100%;
}

figure.snip0056 figcaption h2 {
    font-size: 1.3em;
    font-weight: 300;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

figure.snip0056 figcaption h2 span {
    font-weight: 800;
}

figure.snip0056 figcaption p {
    font-size: 0.9em;
    opacity: 0.8;
}

figure.snip0056 .position {
    width: 100%;
    text-align: left;
    padding: 15px 30px;
    font-size: 0.9em;
    opacity: 1;
    font-style: italic;
    color: #ffffff;
    background: #73B1BF;
    clear: both;
}

figure.snip0056:hover>img,
figure.snip0056.hover>img {
    right: -12%;
}

@media only screen and (max-width: 600px) {
    figure.snip0056 {
        min-width: 300px;
        width: 90%;

    }
}

@media only screen and (min-width: 600px) {
    figure.snip0056 {
        min-width: 400px;
        width: 100%;

    }
}