.container-comments {
	/* background-color: aqua; */
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	gap: 5px;
	width: 100%;
	min-height: 0;
}

.container-comments h2 {
	font-weight: bolder;
}

.newcomment {
	display: flex;
	justify-content: center;
}


.commentedit {
	display: flex;
}

.formdesp {
	display: flex;
}

.img-user {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 6%;
	/* background-color: black; */
	width: 60px;
	height: 60px;
	border-radius: 30px;
}

.img-user img {
	object-fit: cover;
	width: 60px;
	height: 60px;
	border-radius: 25px;
	min-height: 0;
}

.container2-comments {
	/* background-color: yellow; */
	display: flex;
	gap: 2rem;
	padding: 10px;
	width: 80%;
	min-height: 0;
}

.container3-comments {
	display: flex;
	justify-content: space-between;
	/* background-color: aqua; */
	align-items: center;
	width: 100%;
	border-radius: 2rem;
	flex-direction: column;
	gap: 1rem;
	min-height: 0;
}

.container4-comments {
	/* background-color: blueviolet; */
	width: 94%;
	min-height: 0;
}

.container-main-comment {
	/* background-color: green; */
	display: flex;
	justify-content: space-between;
	background-color: #73B1BF;
	align-items: center;
	width: 100%;
	padding: 5px 10px 5px 10px;
	border-radius: 2rem;
	gap: 1rem;
	min-height: 0;

}


.comment {
	margin: 10px 10px 10px 10px;
	padding-left: 12px;
	padding-bottom: 3px;
	border-radius: 5rem;
	/* background-color: white; */
	color: black;
	min-height: 0;
}

.mail {
	padding: 1rem 1rem 0 1.5rem;
	/* background-color: blue; */
	min-height: 0;
}

.icon-despleg {
	cursor: pointer;
}