* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Cabin+Condensed&display=swap');

.Main-Welcome {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    background-color: white;
    gap: 2rem;
    border-bottom: 7px solid rgba(28, 110, 164, 0.42);
    border-radius: 0px 0px 0px 0px;
    padding: .5rem;
    background-color: #73B1BF;
}

.containerMain {
    min-height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column
}

.mssgMytinerary {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-logo>img {
    width: 6rem;
    height: 6rem;
}

.photologin {
    border-radius: 50%;
}

.btndiv {
    display: flex;
    justify-content: center;
}

.H1-Welcome {
    color: white;
    /* text-shadow: 3px 3px 5px rgba(33,146,255,0.69); */
    margin: 0;
    font-family: 'Cabin Condensed', sans-serif;
    text-align: center;
}

.P-Welcome {
    color: white;
    font-weight: bold;
    font-family: 'Cabin Condensed', sans-serif;
}

.navbar {
    display: flex;
    gap: 1rem;
}

.Header-link {
    text-decoration: none;
    color: white;
    height: 1.5rem;
    font-size: 1.1rem;
    font-family: 'Cabin Condensed', sans-serif;
}

.Header-link:hover {
    border-bottom: 2px solid #8C4F2B;
    height: 1.5rem;
    font-weight: bold;
}

.container-welcome {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.container-welcome>p {
    text-align: center;

}

.container-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-login img {
    cursor: pointer;
}

.container-login a {
    font-size: 12px;
    color: white;
    text-decoration: none;
}

.container-login a:hover {
    color: #735755;
}

.container-login ul {
    list-style-type: none;
}

.container-hamburger {
    display: none;
}

.container-hamburger img {
    cursor: pointer;
}

.container-hamburger a {
    font-size: 12px;
    color: white;
}

.container-hamburger a:hover {
    color: #735755;
}

@media only screen and (max-width: 768px) {
    .Main-Welcome {
        gap: 0.9rem;
        padding: 0.2rem;
        min-height: 20vh;
        justify-content: space-evenly;
    }

    .container-logo>img {
        width: 4.5rem;
        height: 4.5rem;
        padding-left: 0.5rem;

    }

    .container-welcome>h1 {
        text-align: center;
        padding: 2rem, 1rem;
        font-size: 20px;
    }

    .container-welcome>p {
        font-size: 12px;


    }

    .navbar {
        flex-direction: column;
        display: none;
    }

    .container-hamburger {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .pages-hamburguer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

}

@media only screen and (max-width: 320px) {
    .container-welcome>p {
        display: none;
    }

}