.video-underconstruction{
    object-fit: cover;
    object-position: center;
    height: 50vh;
    width: 100%;
    z-index: 1;
    border-radius: 10%;
    transition: 0.7s;
    filter: grayscale(100%);
}

.video-underconstruction:hover{
    filter:none;
}

.videos-underconstruction { 
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;
    min-height: 65vh;
}

.video-column{
    position: relative;
    width: 90%;
    max-width: 768px;
    margin: 0 auto;
}

.overlay-underconstruction {
    position:absolute;
    width: 100%;
    top: 35%;
    left: 50%;
    z-index:1;
    display: flex;
    flex-direction: column;
    text-align: center;
    transform: translateX(-50%);
}

.A-Welcome-underconstruction {
    color: rgba(255, 255, 255, 0.321);
    font-weight: bold;
    font-family: 'Cabin Condensed', sans-serif;
    font-size: 20px;
    width: 100%;
}

.A-Welcome-underconstruction:hover {
    display:inline-block;
    transform: scale(1.1);
    color: white;
    width: 100%;
}

.p-video-underconstruction{
    font-size: 2rem;
    padding: 0.8rem;
    color: white;
    font-weight: bold;
}

 @media only screen and (max-width: 320px) {
    .A-Welcome-underconstruction {
        font-size: 10px;
    }
    
    .p-video-underconstruction{
        font-size: 15px;
    }
}


@media only screen and (min-width: 375px) {
    .A-Welcome-underconstruction {
        font-size: 1rem;
    }
    
    .p-video-underconstruction{
        font-size: 1.2rem;
    }
}


@media only screen and (min-width: 425px) {
    .A-Welcome-underconstruction {
        font-size: 1rem;
    }
    
    .p-video-underconstruction{
        font-size: 1.2rem;
    }
}



@media only screen and (min-width: 768px) {
    .A-Welcome-underconstruction {
        font-size: 2rem;
    }
    
    .p-video-underconstruction{
        font-size: 2rem;
    }
}

/*
@media only screen and (min-width: 1024px) {
    .overlay-underconstruction {
        top: 30%;
        left: 41%;
    }
} */

/* 
@media only screen and (min-width: 1440px) {
    .overlay-underconstruction {
        top: 30%;
        left: 44%;
    }
} */



