.video-main{
    width: 100%;
    height: 35vh;
    object-fit: cover;
    object-position: top;
    z-index: 1;
}

.videos { 
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.video-main{
    position:relative;
    z-index:0;
}
.overlay {
    position:absolute;
    top: 30%;
    left: 43.8%;
    z-index:1;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.A-Welcome {
    color: rgba(255, 255, 255, 0.321);
    font-weight: bold;
    font-family: 'Cabin Condensed', sans-serif;
    font-size: 20px;
}

.A-Welcome:hover {
    display:inline-block;
    transform: scale(1.1);
    color: white;
}

.p-video{
    font-size: 1.5rem;
    padding-bottom: 0.5rem;
}

@media only screen and (max-width: 320px) {
    .overlay {
        top: 30%;
        left: 21%;
    }
}

@media only screen and (min-width: 375px) {
    .overlay {
        top: 30%;
        left: 25%;
    }
}

@media only screen and (min-width: 425px) {
    .overlay {
        top: 30%;
        left: 28%;
    }
}

@media only screen and (min-width: 768px) {
    .overlay {
        top: 30%;
        left: 38%;
    }
}

@media only screen and (min-width: 1024px) {
    .overlay {
        top: 30%;
        left: 41%;
    }
}

@media only screen and (min-width: 1440px) {
    .overlay {
        top: 30%;
        left: 44%;
    }
}



