* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Cabin+Condensed&display=swap');

.Main-Welcome {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    background-color: white;
    gap: 2rem;
    border-bottom: 7px solid rgba(28,110,164,0.42);
    border-radius: 0px 0px 0px 0px;
}

.container-logo>img {
    width: 7rem;
    height: 7rem;
}

.H1-Welcome {
    color: #73B1BF;
    /* text-shadow: 3px 3px 5px rgba(33,146,255,0.69); */
    margin: 0;
    font-family: 'Cabin Condensed', sans-serif;
}

.P-Welcome {
    color: #73B1BF;
    font-weight: bold;
    font-family: 'Cabin Condensed', sans-serif;
}



  
